/* Footer */
footer {
    position: relative;
    width: 100%;
    display: flex;
    background: #9E8C9D;
    min-height: 110px;
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;
    color: #fff;
    display: flex;
    justify-content: space-between;
  }
  
  .fowl {
    width: 150px;
    height: 150px;
    background-image: url('../image/floatowl.png'); /* 換成你的圖片路徑 */
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 80px;
    bottom: 120px;
    transform: translateX(-50%);
    animation: float 3s ease-in-out infinite;
    z-index: 1200; /* 確保在 wave 上層 */
  }
  
  @keyframes float {
    0%   { transform: translateX(-50%) translateY(0); }
    50%  { transform: translateX(-50%) translateY(-10px); }
    100% { transform: translateX(-50%) translateY(0); }
  }
  
  
  footer .wave {
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    height: 105px;
    background: url(../image/footerwave.png);
    background-size: 1000px 100px;
  
  }
  
  footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 8s linear infinite;
  }
  
  footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 8s linear infinite;
  } 
  
  footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 6s linear infinite;
  }
  footer .wave#wave4{
    z-index: 1000;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 6s linear infinite;
  }
  
  @keyframes animateWave {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-position-x: 0px;
    }
  }
  
  @keyframes animateWave_02 {
    0% {
      background-position-x: 0px;
    }
    100% {
      background-position-x: 1000px;
    }
  }
  
  
  .footer-info {
    width: 100%;
    display: flex;
    justify-content: space-between; /* 三欄平均分散 */
    padding: 40px 60px;
  }
  
  .footer-info > div {
    flex: 1;
    padding: 0 20px;
  }
  
  .footer-logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  
  }
  
  .footer-links div,
  .footer-contact div {
    margin-bottom: 6px;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .social-icon {
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 5px;
  }
  