<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}北商rule書說{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block css %}{% endblock %}
    {% block head_js %}{% endblock %}
</head>

<body>
    {% block header %}
    <nav class="navbar navbar-initial" id="navbar">
        <a href="/index/" class="logo">logo</a>
        <ul class="nav-links">
            <li><a href="/chat/">校規查詢</a></li>
            <li><a href="/add_comment/">傳聲筒</a></li>
            <li><a href="/join/">揪團區</a></li>
            <li><a href="/book/">二手書交換</a></li>
        </ul>
        <a href="/login/" class="user-circle">
            <i class="fa-solid fa-user"></i>
        </a>
    </nav>
    {% endblock %}

    <!-- 主要內容區域 -->
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <!-- 頁腳 -->
    {% block footer %}
    <footer>
        <footer>
            <div class="fowl"></div>
            <div class="waves">
              <div class="wave" id="wave1"></div>
              <div class="wave" id="wave2"></div>
              <div class="wave" id="wave3"></div>
              <div class="wave" id="wave4"></div>
            </div>
            
            <div class="footer-info">
              <div class="footer-title">
                  <div class="footer-logo">北面rule書說</div>
                  <div>(這大概是logo)</div>
              </div>
              <div class="footer-links">
                <div class="name">簡介</div>
                <div class="aaa">
                  <p>北面blackboard平台</p>
                  <p>北面Timetable平台</p>
                  <p>北美學生創新計劃系統</p>
                </div>
              </div>
              <div class="footer-contact">
                <div class="name">聯絡資訊</div>
                <div>
                  <p>02 - 0000 - 0000</p>
                  <p>ntubuser1149@gmail.com</p>
                  <p class="social-icons">
                  <i class="fa-brands fa-square-facebook"></i>
                  <i class="fa-brands fa-instagram"></i>
                  </p>
                </div>
              </div>
              <div class="footer-backup">
                <img class="backupowl"  src="{% static 'image/backup.png' %}" alt="backup"  onclick="scrollToTop()">
              </div>
            </div>
          </footer>
    {% endblock %}
    
    <!-- JavaScript 文件 -->
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/footer.js' %}"></script>
    {% block body_js %}{% endblock %}
</body>
</html>
