<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
  <footer>
    <div class="fowl"></div>
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
  
    <div class="footer-info">
      <div>
          <div class="footer-logo">北面rule書說</div>
          <div>(虛大概是logo)</div>
      </div>
      <div class="name">簡介</div>
      <div class="footer-links">
          <div>北面blackboard平台</div>
          <div>北面Timetable平台</div>
          <div>北美學生創新計劃系統</div>
      </div>
      <div class="name">聯絡資訊</div>
      <div class="footer-contact">
          <div>02 - 0000 - 0000</div>
          <div>ntubuser1149@gmail.com</div>
          <div class="social-icons">
              <div class="social-icon">f</div>
              <div class="social-icon">ig</div>
          </div>
      </div>
    </div>
  </footer>
</body>
</html>