{% extends 'navbar.html' %}
{% load static %}

{% block lang %}zh-Hant{% endblock %}

{% block title %}北商rule事說 - 登入{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}


{% block content %}
<div class="background">
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
</div>

<main>
    <div class="login-container">
        <div class="frame"></div>
        <div class="login-sidebar">
            <h2>登入</h2>
            <div class="sidebar-text">
                請使用學校帳號進行登入
            </div>
        </div>
        <div class="login-form">
            
            <form id="loginForm">
                    <a class="other-login-btn" href="{% url 'social:begin' 'google-oauth2' %}?prompt=select_account">
                        <img class="login-img" src="{% static 'image/login.png' %}" alt="Google 登入">
                    </a>
            </form>

            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">登出</button>
                <div class="form-actions" onclick="history.back()">
                    <button type="button" class="btn-cancel">取消</button>
                </div> 
              </form>
        </div>
    </div>
</main>
{% endblock %}

{% comment %} {% block body_js %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %} {% endcomment %}
