<!DOCTYPE html> 
<html lang="{% block lang %}en{% endblock %}"> 
<head>     
    <meta charset="UTF-8">     
    <meta name="viewport" content="width=device-width, initial-scale=1.0">     
    <title>{% block title %}北商rule事說{% endblock %}</title>     
    {% load static %}     
    {% block css %}{% endblock %}     
    {% block head_js %}{% endblock %}     
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">     
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}"> 
</head>  

<body>     
    {% block header %}     
    <nav class="navbar navbar-initial" id="navbar">         
        <a href="/index/" class="logo">logo</a>         
        <ul class="nav-links">             
            <li><a href="/chat/">校規查詢</a></li>             
            <li><a href="/comment/">傳聲筒</a></li>             
            <li><a href="/join/">活動召集</a></li>             
            <li><a href="/book/">二手區平台</a></li>         
        </ul>         
        <div class="user-menu">
            <div class="user-circle" id="userMenuButton">             
                <i class="fa-solid fa-user"></i>         
            </div>
            <div class="user-dropdown" id="userDropdown">
                <a href="#" class="dropdown-item" id="loginButton">登入</a>
            </div>
        </div>
    </nav>     
    {% endblock %}      
    
    {% block content %}{% endblock %}        
    
    {% block footer %}{% endblock %}          
    
    <!-- 登入彈跳視窗 -->
    <div id="loginModal" class="login-modal">
        <div class="login-container">
            <span class="close-modal">&times;</span>
            <div class="frame"></div>
            <div class="login-sidebar">
                <h2>登入</h2>
                <div class="sidebar-text">
                    請使用學校帳號進行登入
                </div>
            </div>
            <div class="login-form">
                <form id="loginForm">
                    <div class="login-buttons">
                        <form action="{% url 'logout' %}" method="post" class="logout-form">
                            {% csrf_token %}
                            <button type="submit" class="btn-logout">登出</button>
                        </form>
                        <a class="other-login-btn" href="{% url 'social:begin' 'google-oauth2' %}?prompt=select_account">
                            <img class="login-img" src="{% static 'image/login.png' %}" alt="Google 登入">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    {% block body_js %}{% endblock %}          
    
    <script src="{% static 'js/navbar.js' %}"></script> 
</body> 
</html>